# compiled output
/dist
/es
/umd

# dependencies
/node_modules
/bower_components

# misc
.sass-cache
.eslintcache
.cache
npm-debug.log*

# CommonJS root files
/*.js

# Rollup config
!rollup.config.js
